@using EventEase.Models;
@inject NavigationManager NavigationManager

<h1>@Event.Name</h1>

<p>Location: @Event.Location</p>
<p>Date: @Event.Date</p>

<p>Available spots: @Event.AvailableSpots</p>

<button @onclick="GoToRegistration">Register for this event!</button>


@code {
    [Parameter]
    public Event Event { get; set; }

    private void GoToRegistration()
    {
        NavigationManager.NavigateTo($"/register/{Event.Id}");
    }
}
