@page "/register/{id:int}"
@using EventEase.Models;
@using EventEase.Services
@inject EventService EventService
@inject NavigationManager NavigationManager

<h1>Register for event</h1>

<EditForm Model="@Registration" OnValidSubmit="SubmitRegistration">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <input @bind="Registration.AttendeeName" placeholder="Your name" />
    <br />
    <input @bind="Registration.Email" placeholder="Your email" />
    <br />
    <button>Submit</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Registration? Registration = new();

    private async Task SubmitRegistration()
    {
        Registration.EventId = Id;
        if (await EventService.RegisterForEvent(Registration))
        {
            NavigationManager.NavigateTo("/events");
        }
    }
}